<form #registerForm="ngForm" (ngSubmit)="add()">
   <label>Productos</label>
    <p>
        <label>Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="producto.nombre" required>
    </p>
    <p>
        <label>Precio</label>
        <input type="number" name="price" #price="ngModel" [(ngModel)]="producto.precio" required>
    </p>
    <input type="submit" value="Añadir" name="" >
</form>
<div *ngIf="productos">
  <tr>
    <th>Nombres</th>
    <th>Precios</th>
  </tr>
  <tr *ngFor="let producto of productos">
    <th>{{producto[0]}}</th>
    <th>{{producto[1]}}</th>
  </tr>
</div>